{% extends 'base.html.twig' %}

{% block body %}
<p>
    # Politique de Confidentialité - Connexion Facebook

    Dernière mise à jour : [Date]

    ## 1. Introduction

    Cette politique de confidentialité explique comment [Nom de votre entreprise/application] collecte, utilise et protège vos informations personnelles lorsque vous utilisez notre service de connexion via Facebook.

    ## 2. Informations collectées

    Lorsque vous vous connectez à notre application via Facebook, nous pouvons collecter les informations suivantes :

    - Votre nom et prénom
    - Votre adresse e-mail
    - Votre photo de profil Facebook
    - Votre identifiant Facebook unique
    - Votre genre (si disponible)
    - Votre date de naissance (si disponible)

    ## 3. Utilisation des informations

    Nous utilisons ces informations pour :

    - Créer et gérer votre compte sur notre plateforme
    - Vous identifier lors de vos connexions ultérieures
    - Personnaliser votre expérience utilisateur
    - Communiquer avec vous concernant nos services

    ## 4. Partage des informations

    Nous ne vendons pas, n'échangeons pas et ne transférons pas vos informations personnelles à des tiers. Cela n'inclut pas les tiers de confiance qui nous aident à exploiter notre site web ou à mener nos affaires, tant que ces parties conviennent de garder ces informations confidentielles.

    ## 5. Protection des informations

    Nous mettons en œuvre une variété de mesures de sécurité pour préserver la sécurité de vos informations personnelles. Nous utilisons un cryptage à la pointe de la technologie pour protéger les informations sensibles transmises en ligne.

    ## 6. Cookies

    Notre site web utilise des cookies pour améliorer votre expérience utilisateur. Un cookie est un petit fichier placé sur le disque dur de votre ordinateur. Vous pouvez choisir de désactiver les cookies via les paramètres de votre navigateur.

    ## 7. Déconnexion de Facebook

    Vous pouvez à tout moment choisir de déconnecter votre compte Facebook de notre application. Pour ce faire, veuillez [indiquez ici la procédure spécifique à votre application].

    ## 8. Modifications de la politique de confidentialité

    Nous nous réservons le droit de modifier cette politique de confidentialité à tout moment. Toute modification sera publiée sur cette page.

    ## 9. Consentement

    En utilisant notre service de connexion via Facebook, vous consentez à notre politique de confidentialité.

    ## 10. Nous contacter

    Si vous avez des questions concernant cette politique de confidentialité, vous pouvez nous contacter à :

    [Votre adresse e-mail de contact]
    [Votre adresse postale]
</p>
{% endblock %}