/* Styles généraux */
body {
  font-family: "Noto Sans", sans-serif !important;
  padding: 0 !important;
}
main {
  text-align: center;
  min-height: 100vh;
  width: 100%;
}
::-webkit-scrollbar {
  display: none;
}
.container-fluid {
  & {
    padding: 0px !important;
  }
}
.box {
  width: 100% !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box-col {
  width: 100% !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.oneThird {
  width: $oneThird !important;
}
.w-50 {
  width: 50% !important;
}
.w-75 {
  width: 75% !important;
}
.f-box,
.f-box-col {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95% !important;
  border-radius: 0.25rem !important;
}
.box-col,
.f-box-col {
  flex-direction: column;
}
.container {
  & {
    width: 90% !important;
  }
}
.bg-tea {
  background-color: rgba($lightgreen-color, 0.1);
}
.text-tea {
  color: $green-color;
}

p,
li,
h1,
h2,
h3,
label {
  font-family: "Noto Sans", sans-serif;
  text-shadow: 0 2px 4px rgba($dark-color, 0.175);
  padding: 0 !important;
  margin: 0 !important;
}
.list-group-item {
  & {
    border: 0 !important;
  }
}

.br {
  display: none;
}
.hover-25:hover {
  opacity: 25%;
}
a {
  font-family: "Noto Sans", sans-serif;
}
.p-green {
  color: $lightgreen-color;
  font-weight: 600;
}

.hover-shadow-blue {
  box-shadow: 0 0.5rem 1rem rgba($dark-color, 0.2) !important;
  &:hover {
    box-shadow: 0 0.5rem 1rem rgba($blue-color, 0.2) !important;
  }
}
/* Boutons */
.btn-lightgreen {
  background-color: $lightgreen-color !important;
  border-color: $darkblue-color !important;
}
.btn-green {
  background-color: $green-color !important;
  border-color: $darkblue-color !important;
}
.btn-blue {
  background-color: $blue-color !important;
  border-color: $darkblue-color !important;
}
.btn-darkblue {
  background-color: $darkblue-color !important;
  border-color: $darkblue-color !important;
}
.btn-pink {
  background-color: $pink-color !important;
  border-color: $pink-color !important;
}

.btn {
  & {
    transition: transform 1s ease-in-out;
    color: $white;
    p {
      color: $white;
    }
    &:hover {
      opacity: 0.9;
      transform: scale(1.05);
    }
  }
}
select,
button,
input {
  border-radius: 25px !important;
}

/* Card */

.card-prize {
  max-width: 300px;
}
.card-rank {
  height: 50px;
  width: 50px;
  opacity: 0.8;
  bottom: 0;
  right: 0;
  position: absolute;
  transform: rotate(-30deg);
}
.card-rank-1 {
  background-color: $rank-1-color;
}
.card-rank-2 {
  background-color: $rank-2-color;
}
.card-rank-3 {
  background-color: $rank-3-color;
}

.info-row {
  background-color: rgba($blue-color, 0.3) !important;
  border-radius: 15px !important;
  width: 100% !important;

  .p-info-title,
  .p-info-value {
    background-color: rgba($white, 0.5) !important;
    border-radius: 15px !important;
  }
  .p-info-value {
    min-width: 50px;
  }
}

/* Formulaires */
form {
  border-radius: 8px;
  padding: 2rem;
  margin: 2rem;
}

.modal-content {
  & {
    border-radius: 0.25rem;
    padding: 2em;
    background-color: rgba($darkblue-color, 0.5) !important;
    // color: $white;
    .sub-modal {
      border-radius: 0.25rem;
      background-color: rgba($white, 0.7) !important;
      .modal-footer {
        border: none;
      }
    }
  }
}
// fancy shit
.zoom-1-05 {
  transition: transform 0.2s ease-in-out;
  &:hover {
    transform: scale(1.05);
  }
}

.zoom-1-03 {
  transition: transform 0.2s ease-in-out;
  &:hover {
    transform: scale(1.03);
  }
}
.zoom-1-01 {
  transition: transform 0.2s ease-in-out;
  &:hover {
    transform: scale(1.01);
  }
}
.zoom-1-1 {
  transition: transform 0.2s ease-in-out;
  &:hover {
    transform: scale(1.1);
  }
}

// Informations légales

.custom-container {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  text-align: left; /* Aligne le texte à gauche */
  p,
  ul,
  h1,
  h2 {
    text-align: left; /* Aligne le texte à gauche */
  }
}
