.dashboard {
  width: 100%;

  .card-dashboard {
    width: 45%;
    margin: 10px;
    padding: 10px;
  }
  .card-dashboard-mail {
    width: 93.9%;
    margin: 10px;
  }
}
.info-row-winner {
  background-color: rgba($pink-color, 0.3) !important;
}

#myPieChart,
#genderBarChart {
  width: 90% !important;
  height: 700px !important;
}

@media (max-width: 1300px) or (max-device-width: 1300px) {
  #myPieChart,
  #genderBarChart {
    height: 650px !important;
  }
}

@media (max-width: 1200px) or (max-device-width: 1200px) {
  #myPieChart,
  #genderBarChart {
    width: 85% !important;

    height: 600px !important;
  }
}

@media (max-width: 1080px) or (max-device-width: 1080px) {
  #myPieChart,
  #genderBarChart {
    height: 500px !important;
  }
}
@media (max-width: 900px) or (max-device-width: 900px) {
  .dashboard {
    padding: 2%;

    flex-direction: column;
    .card-dashboard,
    .card-dashboard-mail {
      width: 100%;
      padding: 0;
      margin: 0;
    }
    #myPieChart,
    #genderBarChart {
      width: 80% !important;
    }
  }
}
@media (max-width: 450px) or (max-device-width: 450px) {
  .card-dashboard,
  .card-dashboard-mail {
    p {
      font-size: 12px;
    }
  }
}
