.dashboard {
  width: 100%;

  .card-dashboard {
    width: 45%;
    margin: 10px;
    padding: 10px;
  }
  .card-dashboard-mail {
    width: 93.9%;
    margin: 10px;
  }
}
.info-row-winner {
  width: 75% !important;
}
.container-validate-price {
  background-color: rgba($blue-color, 0.3);
  .form-validate-price {
    color: $dark-color;
    background-color: rgba($white, 0.5);

    .box-required-validate-price {
      justify-content: space-around;
      div {
        display: flex;
        flex-direction: column;
        width: $oneThird;
        gap: 1.3em;
        label {
          font-size: 1em;
        }
        #validate_price_user {
          border-radius: 15px 15px 0 0 !important;
        }
        #validate_price_code {
          border-radius: 25px !important;
        }
      }
      div {
        align-self: end;
        #validate_price_submit {
          color: $white;
          border: none;
        }
      }
    }
  }
}
.br-btn-modal {
  display: none;
}
.info-row-winner {
  background-color: rgba($pink-color, 0.3) !important;
}

#myPieChart,
#genderBarChart {
  width: 80% !important;
  height: 650px !important;
}

@media (max-width: 1300px) {
  #myPieChart,
  #genderBarChart {
    height: 600px !important;
  }
}

@media (max-width: 1200px) {
  #myPieChart,
  #genderBarChart {
    width: 75% !important;
    height: 550px !important;
  }
}

@media (max-width: 1080px) {
  #myPieChart,
  #genderBarChart {
    height: 500px !important;
  }
  .box-required-validate-price {
    // justify-content: center;
    flex-direction: column;
    div {
      width: 100% !important;
      label {
        font-size: 1.5em !important;
        text-align: left;
      }
    }
  }
}
@media (max-width: 900px) {
  .dashboard {
    padding: 2%;

    flex-direction: column;
    .card-dashboard,
    .card-dashboard-mail {
      width: 100%;
      padding: 0;
      margin: 0;
    }
    #myPieChart,
    #genderBarChart {
      width: 80% !important;
    }
  }
  .br-btn-modal {
    display: block;
  }
}
@media (max-width: 650px) {
  #btn-tirage {
    width: 100% !important;
  }
  .card-dashboard {
    h2 {
      font-size: 1rem !important;
    }
  }
  .info-row-winner {
    width: 100% !important;
    h3 {
      font-size: 1rem;
    }
  }
}

@media (max-width: 520px) {
  .info-row-winner {
    h3 {
      font-size: 0.75rem;
    }
  }
}

@media (max-width: 450px) {
  .card-dashboard,
  .card-dashboard-mail {
    p {
      font-size: 12px;
    }
  }
}
@media (max-width: 650px) {
  #btn-tirage {
    p {
      font-size: 14px !important;
    }
  }
}
