.login {
  .btn-login {
    height: 50px;
  }
  .login-form,
  .login-other-auth {
    width: 50%;
  }
}

@media (max-width: 1080px) or (max-device-width: 1080px) {
  .login {
    flex-direction: column;
    .login-form,
    .login-other-auth {
      width: 90%;
    }
  }
}

@media (max-width: 600px) {
  .login-form {
    div {
      h3 {
        font-size: 1.5rem;
      }
    }
  }
}
