.signup-form {
  div {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    label {
      font-size: $h3-font-size;
      font-weight: 500;
    }
  }
}
#inscriptionButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

@media (max-width: 600px) {
  .signup-form {
    div {
      label {
        font-size: 1.5rem;
      }
    }
  }
}
