/* BASE COLOR */
$pink-color: #cd58ba;
$lightgreen-color: #8bc34a;
$green-color: #59ad52;
$dark-color: #333;
$darkblue-color: #242a42;
$blue-color: #17a2b8;

/* placeholder */
$placeholder: #d9d9d9;

/* card */

$card-light: #fff;
$card-delivered: #dedede;

$rank-1-color: #ffff00;
$rank-2-color: grey;
$rank-3-color: rgb(189, 145, 83);
