{% extends 'base.html.twig' %}

{% block title %}Mes gains{% endblock %}

{% block body %}
    <h1>Mes gains</h1>
    {% if prizes is empty %}
        <p>Vous n'avez pas encore de gains.</p>
    {% else %}
        <div class="prize-grid">
            <div class="row">
                {% for prize in prizes %}
                    <div class="col-md-4">
                        <div class="card" style="width: 18rem;">
                            <img src="{{ asset('images/' ~ prize.prize ~ '.jpg') }}" class="card-img-top" alt="{{ prize.prize }}">
                            <div class="card-body">
                                <h5 class="card-title">{{ prize.prize }}</h5>
                                <p class="card-text">prize.code</p>
                            </div>
                        </div>
                    </div>
            {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}