<footer class="mt-5 py-3 bg-light">
    <div class="container text-center">
        <p>&copy; 2024 Il s’agit d’un projet étudiant fictif pour lequel aucun réel achat ou aucune réservation ne pourrait être effectué</p>
    </div>
</footer>