{% extends 'base.html.twig' %}

{% block title %}Loterie{% endblock %}

{% block body %}
    <div class="form-container text-center">
        <h1 class="mb-4 fs-2 fw-semibold pt-5 pb-5">Tentez votre chance !<br>Entrez votre code</h1>
        <form action="{{ path('app_lottery_submit') }}" method="post" class="form-lottery shadow-none d-flex align-items-center flex-column gap-5 w-100">
            <input type="text" name="code" class=" form-control form-control-lg text-center" placeholder="Votre code ici" required>
            <button type="submit" class="btn btn-blue rounded-pill"><p class="text-white">Valider</p></button>
        </form>
    </div>
{% endblock %}