{% extends 'base.html.twig' %}

{% block title %}Loterie{% endblock %}

{% block body %}
    <div class="form-container text-center">
        <h2 class="mb-4">Entrez votre code</h2>
        <form action="{{ path('app_lottery_submit') }}" method="post">
            <div class="mb-3">
                <input type="text" name="code" class="form-control form-control-lg text-center" placeholder="Votre code ici" required>
            </div>
            <button type="submit" class="btn btn-primary btn-lg">Valider</button>
        </form>
    </div>
{% endblock %}